.app {
  --color-mode-active: #171c26;
  --color-text-primary: #171c26;
  --color-text-secondary: #a7b1c3;

  --color-blue: #0090f2;

  --color-focus: #0090f2;

  --color-bg: #f6f7f9;
  --color-bg-app: #fff;

  --color-borders: #f0f0f0;

  --color-mode-bg: #eff0f7;
  --color-mode-item-bg-active: #1b2231;
  --color-mode-item-text-active: #fff;
  --color-mode-item-text: #7f8da7;
  --color-mode-item-bg: #fff;

  --color-nav-text: #1b2231;
  --color-nav-subtext: #7f8da7;
  --color-nav-text-active: #fff;
  --color-nav-bg-active: #0b111e;

  --color-logout: #fe565c;
  --color-logout-bg: #eff0f7;

  --color-presets-bg: #0b111e;
  --color-presets-text: #171c26;
  --color-presets-text-active: #fff;
}

.app.app--dark {
  --color-accent: #fff;
  --color-text-primary: #7f8da7;
  --color-text-secondary: #a7b1c3;

  --color-bg: #fff;
  --color-bg-app: #171c26;

  --color-borders: #282c36;

  --color-mode-bg: #0b111e;
  --color-mode-item-bg-active: #fff;
  --color-mode-item-text-active: #0b111e;
  --color-mode-item-text: #7f8da7;
  --color-mode-item-bg: #1b2231;

  --color-nav-text: #7f8da7;
  --color-nav-text-active: #fff;
  --color-nav-bg-active: #0b111e;

  --color-logout-bg: #1b2231;

  --color-presets-bg: #0b111e;
  --color-presets-text: #7f8da7;
}

$font-100: 0.7059rem;
$font-200: 0.8235rem;
$font-300: 1rem;
$font-400: 1.176rem;
$font-500: 1.882rem;
$font-600: 2.118rem;
$font-700: 4rem;

$grid-breakpoints: (
  sm: 560px,
  md: 768px,
  lg: 1200px,
  xl: 1920px,
) !default;
