.app {
  --color-text-primary: #171c26;
  --color-text-secondary: #a7b1c3;

  --color-bg: #f6f7f9;
  --color-bg-app: #fff;

  --color-borders: #f0f0f0;
}

.app.app--dark {
  --color-text-primary: #7f8da7;
  --color-text-secondary: #a7b1c3;

  --color-bg: #fff;
  --color-bg-app: #171c26;

  --color-borders: #282c36;
}

$font-100: 0.7059rem;
$font-200: 0.8235rem;
$font-300: 1rem;
$font-400: 1.176rem;
$font-500: 1.882rem;
$font-600: 2.118rem;
$font-700: 4rem;

$grid-breakpoints: (
  sm: 560px,
  md: 768px,
  lg: 1200px,
  xl: 1920px,
) !default;
