@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.nav {
  &__item {
    margin-right: 8px;
    height: 56px;
    width: 56px;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    &--active {
      .nav__icon {
        background-color: var(--color-nav-bg-active);
        color: var(--color-nav-text-active);
      }

      .nav__link span {
        opacity: 1;
      }
    }
  }

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 56px;
    min-height: 56px;
    height: 56px;
    font-size: 1.8rem;
    transition: all 0.2s ease-in-out;
    color: var(--color-nav-text);
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-focus);
    }

    span {
      position: absolute;
      top: calc(100% + 8px);
      opacity: 0;
      color: var(--color-nav-subtext);
      font-size: $font-200;
      transition: all 0.2s ease-in-out;
    }
  }

  &__name {
    color: var(--color-nav-subtext);
  }
}
