@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.presets {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__title {
    color: var(--color-presets-title);
    transition: color 0.2s ease-in-out;
  }

  &__add {
    font-size: $font-200;
    color: var(--color-blue);
    border-radius: 4px;
    cursor: pointer;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-focus);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    margin-bottom: 12px;

    &--active {
      .presets__btn {
        background-color: var(--color-presets-bg);
        color: var(--color-presets-text-active);

        &:hover {
          background-color: var(--color-presets-bg);
          opacity: 0.7;
        }
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-borders);
    padding: 20px 24px;
    border-radius: 10px;
    width: 100%;
    color: var(--color-text-primary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: var(--color-logout-bg);
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--color-focus);
    }
  }

  &__icon {
    font-size: 1.4rem;
    color: inherit;
  }

  &__name {
    color: inherit;
    font-size: $font-300;
    margin-left: 16px;
  }

  &__temperature {
    margin: 0 12px 0 auto;
    color: var(--color-text-secondary);
  }

  &__pressure {
    color: var(--color-text-secondary);
  }
}
