@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.header {
  padding: 30px;
  grid-column-end: span 2;
  border-bottom: 1px solid var(--color-borders);
  border-right: 1px solid var(--color-borders);
  transition: all 0.2s ease-in-out;
}
