@import "./assets/styles/utils/variables.scss";
@import "./assets/styles/utils/mixins.scss";

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: var(--color-bg);
  transition: all 0.2s ease-in-out;

  &__dialog {
    width: 70vw;
    height: 80vh;
    background-color: var(--color-bg-app);
    border-radius: 16px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.01);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;

    display: grid;
    grid-template-columns: 350px 1fr 150px;
    grid-template-rows: 100px 1fr;
  }
}
