@import "./assets/styles/base/reset.scss";
@import "./assets/styles/base/fonts.scss";
@import "./assets/styles/utils/variables.scss";
@import "./assets/styles/utils/mixins.scss";

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

p {
  color: var(--color-text-primary);
  font-weight: 500;
  font-size: $font-300;
}
